[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f

[user]
	name = Eric Ma
	email = ericmajinglong@gmail.com

[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[color]
    ui = auto

[alias]
    branches = !legit branches
    graft = !legit graft
    harvest = !legit harvest
    publish = !legit publish
    unpublish = !legit unpublish
    sprout = !legit sprout
    sync = !legit sync
    switch = !legit switch
    resync = !legit resync
    slog = log --oneline --topo-order --graph
    undo = !legit undo

[core]
    editor = nano

[push]
    default = simple

[color "branch"]
    current = yellow ul
    local = yellow
    remote = green

[color "diff"]
    meta = cyan black bold

[color "status"]
    added = green
    changed = cyan
    untracked = magenta
    deleted = red

[include]
    path = ~/.gitproxy


[diff "jupyternotebook"]
    command = git-nbdiffdriver diff

[merge "jupyternotebook"]
    driver = git-nbmergedriver merge %O %A %B %L %P
    name = jupyter notebook merge driver

[difftool "nbdime"]
    cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\"

[difftool]
    prompt = false

[mergetool "nbdime"]
    cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"

[mergetool]
    prompt = false
[http]


update-from = "!f() { git fetch $1 --prune; git merge --ff-only $1/$2 || git rebase --preserve-merges $1/$2; }; f"
	proxy = http://nibr-proxy.global.nibr.novartis.net:2011
[credential]
	helper = cache --timeout=99999999999
[https]
	proxy = http://nibr-proxy.global.nibr.novartis.net:2011
